@import 'tailwindcss' @theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Geist Mono', monospace;
  --font-mono--font-feature-settings: 'ss09' on;
  --color-green: #00e67b;
  --color-white: #dcd8d3;
}
